<h1>¡Gracias por realizar tu compra!</h1>
<p>Se ha enviado un mensaje a tu número de télefono registrado confirmando el pedido</p>
<input type="button" value="Volver al perfil" onClick="location.href='/session/profile'">