<input type="button" onclick="location.href='/session/logout'" value="Cerrar sesión">
<input type="button" onclick="miFunc()" value="Ver Carrito">
<input type="button" onclick="confirmSell()" value="Confirmar compra">
<h1>Hola {{this.first_name}}</h1>
<img src='http://localhost:8080/images/profilePictures/{{this.avatar}}' alt="Profile picture">

<div class="product-container" id="product-container"></div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="profile.js"></script>
<script>